extends layout 
 
block content 
  h1= title 

   if (toShow == null) 
    h2 No instance to Update View 
   
   else
    - let pastryid = toShow._id 
    - let pastry_flavour = toShow.pastry_flavour 
    - let calories = toShow.calories
    - let pastry_shape = toShow.pastry_shape
    div(class="container-fluid" style="text-align: center;") 
        div.row(class='mb-2 d-flex justify-content-center p-3 text-center' style="color: powdered-blue")
            div(class='pastryAttr mr-3', style="font-family: Copperplate, Papyrus, fantasy;color:green; font-size: 28px; text-align: centre;" class="text-success") Pastry ID is: 
            div(style="font-family: 'Courier New', monospace; color:purple; font-size: 28px; text-align: centre;") #{pastryid} 
        div.row(class='mb-2 d-flex justify-content-center p-3 text-center' style="color: powdered-blue")
            div(class='pastryAttr mr-3', style="font-family: Copperplate, Papyrus, fantasy;color:green; font-size: 28px; text-align: centre;" class="text-success") Pastry Type is: 
            div(style="font-family: 'Courier New', monospace; color:purple; font-size: 28px; text-align: centre;") #{pastry_flavour} 
        div.row(class='mb-2 d-flex justify-content-center p-3 text-center' style="color: powdered-blue")
            div(class='pastryAttr mr-3', style="font-family: Copperplate, Papyrus, fantasy;color:green; font-size: 28px; text-align: centre;" class="text-success") Pastry calories is: 
            div(style="font-family: 'Courier New', monospace; color:purple; font-size: 28px; text-align: centre;") #{calories} 
        div.row(class='mb-2 d-flex justify-content-center p-3 text-center' style="color: powdered-blue")
            div(class='pastryAttr mr-3', style="font-family: Copperplate, Papyrus, fantasy;color:green; font-size: 28px; text-align: centre;" class="text-success") Pastry shape is: 
            div(style="font-family: 'Courier New', monospace; color:purple; font-size: 28px; text-align: centre;") #{pastry_shape}