extends layout 
 
block content 
  h1= title 
 
  - let pastryid = toShow._id 
  - let pastry_flavour = toShow.pastry_flavour 
  - let calories = toShow.calories
  - let pastry_shape = toShow.pastry_shape
  div 
    div.row 
      div(class='pastryAttr mr-3') Pastry ID is: 
      div #{pastryid} 
    div.row 
      div(class='pastryAttr mr-3') Pastry Type is: 
      div #{pastry_flavour} 
    div.row 
      div(class='pastryAttr mr-3') Pastry calories is: 
      div #{calories} 
    div.row 
      div(class='pastryAttr mr-3') Pastry shape is: 
      div #{pastry_shape}