extends layout

block content
  h1= title
  - let pastries = results
  //- var results = [{"pastry_flavour": "Red velvet", "calories": 10, "pastry_shape": "circle"},  {"pastry_flavour": "Choclate", "calories": 23.4, "pastry_shape": "Rectangle"}, {"pastry_flavour": "Strawberry", "calories": 23, "pastry_shape": "Square"}];

  div(class="container-fluid")
    div(class="row m-1")
        each items, index in pastries
            - let destination = `dispatch(\"/resource/update?id=${items._id}\")`
            div(class="col-sm-2", class="m-1", style='font-family: "Lucida Console", "Courier New", monospace;color:purple') Item #{items.pastry_flavour}(#{items.calories}) is #{items.pastry_shape}
            button.btn( class="btn-primary ml-1" , onclick= destination) Update
  
  script.
    function dispatch(path){ 
      window.location.href=path 
    } 
 
  